body{
  overflow-x: hidden;
  overflow-y: hidden;
}
.home-page{
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapershome.ru/images/wallpapers/poligon-2560x1440-4k-hd-cvetnoy-zeleniy-fon-225.jpg);
}
.home-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  padding: 9%;
}
.home-title h1{
  margin-top: 100%;
}
.home-p {
  font-size: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.backgrNav{
  background-color: pink;
}
.addContacts-page{
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapershome.ru/images/wallpapers/okean-3840x2160-5k-4k-more-zakat-bereg-plyaj-5649.jpg);
}

.contactList-page{
  height: 100vh;
  width: 100vw;
  background-image: url(https://wallpapershome.ru/images/wallpapers/more-2560x1440-4k-hd-okean-voda-skali-nebo-oblaka-rassvet-zakat-1144.jpg);
}